# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Interfaces.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\Mekhail\UnityGames\Drakulam\VampGame\Drakulam\Assets\Scripts\Components\Interfaces\.idea\.idea.Interfaces.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
